*,
*::before, *::after,
*:before, *:after,
{
    box-sizing: border-box;
}

body, h1, h2, h3, nav ul, nav li, img 
{
    margin: 0;
    padding: 0;
}

body 
{
    background-color: beige;
}

header 
{
    background-color:black;
}

h1 
{
    display: block;
    font-size: 4rem;
    font-family: 'Encode Sans Condensed', sans-serif;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    color: azure
}

.subtitulo 
{
    display: block;
    font-size: 2rem;
    margin-top: 0rem;
    font-family: 'Encode Sans Condensed', sans-serif;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    color: azure
}

.iconoMenu
{
    display: block;
    font-size: 2.5rem;
    text-align: right;
    margin-right: 1rem;
    padding: 1rem;
    padding-bottom: 0.5rem;
    color: azure;
}

nav.menu-superior 
{
    display: none;
}

nav ul 
{
    list-style: none;
}

nav.menu-superior ul 
{
    display: flex;
}

nav a 
{
    font-family: 'Encode Sans Condensed', sans-serif;
    color: azure;
    text-decoration: none;
    margin-right: 2rem;
    display: inline-block;
}

.menu-inferior 
{ 
    background-color: firebrick;
    padding: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

nav.hide-menu 
{
    display: none;
}

article
{
    margin-top: 4rem
}

h2 
{
    display: block;
    font-size: 2rem;
    font-family: 'Encode Sans Condensed', sans-serif;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
    color: maroon
}

img 
{
    width: 100% ;
    margin-top: 1rem;   
} 

.cabeceraDatos 
{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.lista1Datos
{ 
    list-style-type: none;
    background-color: aliceblue;
    border: 1px solid;
    padding: 1rem;
    padding-left: 1rem;
}

.field_name
{
    font-weight: bold;
}

h3
{ 
    font-family: 'Encode Sans Condensed', sans-serif;
    color: maroon;   
    margin-left: 1rem;
}

.main_wrapper
{
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Encode Sans Condensed', sans-serif;
}

aside
{ 
    background-color:burlywood;
}

h2.aside {
    color: maroon;
    padding: 1rem;
 }

.listaAside
{ 
    color: maroon;
    padding: 1rem;
    margin-left: 1rem;
}

footer
{ color:azure;
    background-color:black;
}

.cfoot
{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
}

.finalPagina
{ 
    color: inherit; 
    text-decoration: none;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 1rem;   
}

@media screen and (min-width: 610px) 

{
    header 
    {
        height: 20vh;
    }

    h1 
    {
    font-size: 4,5rem;
    }

    .subtitulo 
    {
    font-size: 2,5rem;
    }

    .iconoMenu
    {
    display: none;
    }

    nav.menu-superior 
    {
    display: block;
    background-color: black;
    color: azure;
    margin-left: 2rem;
    top: 8,7rem;
    padding: 1rem;
    font-size: 0,5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    
    }

    .menu-inferior 
    { 
    display: none;
    }

}

    /* EJEMPLO CAMBIOS DEL PROFE AL PASAR A 620 PIXELS DE PANTALLA:
    h1 {
      font-size: 2.3rem;
      padding-left: 1rem;
    }
  
    .wrapper_flex {
      display: flex;
    }
    .wrapper_flex section {
      padding-left: 1rem;
      padding-right: 1rem;
      flex: 0 1 75%;
    }
    .wrapper_flex aside {
      padding-left: 1rem;
      padding-right: 1rem;
      flex: 0 1 25%;
    }
  
    section figure {
      margin: 0;
    }
  }
  */


  @media screen and (min-width: 810px) 
  {

    header 
    {
        height: 22vh;
    }

    h1 
    {
    font-size: 5rem;
    }

    .subtitulo 
    {
    font-size: 2,7rem;
    }

    .iconoMenu
    {
    display: none;
    }

    nav.menu-superior 
    {
    display: block;
    background-color:black;
    color: azure;
    top: 10,7rem;
    margin-left: 4rem;
    padding: 1rem;
    font-size: 1.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    }

  }

 /*  header h1 {
      font-size: 2.5rem;
      padding-left: 2rem;
    }
    header nav {
      display: none;
    }
  
    nav.menu-mobile {
      display: none;
    }
  
    nav.menu-desk {
      display: block;
      background-color: brown;
      color: bisque;
      position: absolute;
      right: 0;
      top: 1.2rem;
    }
    nav.menu-desk ul {
      display: flex;
    }
    nav.menu-desk ul li {
      position: relative;
    }
    nav.menu-desk ul li:hover ul {
      display: block;
    }
    nav.menu-desk a {
      padding: 0.5rem 1rem;
      display: block;
    }
    nav.menu-desk a:hover {
      background-color: bisque;
      color: brown;
    }
    nav.menu-desk .submenu {
      display: none;
      position: absolute;
      top: 2rem;
      left: -2rem;
      background-color: rgba(165, 53, 53, 0.5);
    }
  
    .wrapper_columns {
      /* column-count: 2;
      column-gap: 2rem; */
      
      /* display: flex;
      align-items: flex-start;
    }
    .wrapper_columns .wrapper_item_flex {
      width: 50%;
      padding: 0 1rem;
    }
    .wrapper_columns .wrapper_item_flex p:nth-of-type(1) {
      margin-top: 0;
    }
  
    section {
      background-color: #924949;
    }
    section h2 {
      padding-left: 1rem;
    }
  }
  */




/* { }

enlace para meter las dos tipos de letras:
<link href="https://fonts.googleapis.com/css?family=Encode+Sans+Condensed|Roboto" rel="stylesheet"> 

y forma de colocarlas en CSS:
font-family: 'Roboto', sans-serif;
font-family: 'Encode Sans Condensed', sans-serif;


PARA LA HAMBURGUESA

enlace en head:

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css">
    <link rel="stylesheet" type="text/css" media="screen" 

forma de llamarlo desde CSS: 
<a href="#bottom-menu">
<i class="fas fa-bars"></i></a>

*/

/*  {}

Mediaquery O: Mobile

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
header{
    width: 50%;
    float: left;
    background-color: maroon;
    color: bisque
} 

header h1{
    text-align: center;
    margin: 0rem;
    line-height: 4rem;
}

nav {
    text-decoration: none;
    color: inherit;
    
}
nav{
    border: 1px solid silver;
    width: 50%;
    float: left;
} 

nav ul{
    list-style: none;
    Border : 1px solid silver;
    width: 40%;
    margin: 0%;
    padding: 0%;
    
}
nav li{
    display: block;
    float: left;
    width: 18%;
}  

nav a {
    color: inherit;
    background-color: bisque;
    text-decoration: none;
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-align: center;
    padding-left: 2rem;
    padding-right: 2rem;
    border: solid silver 1px;
    border-radius: 5%;
    display: inline-block;
}
section{
    margin-top: 2rem
}
*/ 
