*,
*::before, *::after,
*:before, *:after,
{
    box-sizing: border-box;
}

header
{ background-image: url('../assets/home-bg.jpg');
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}
div {
    display: block
}

nav
{
    position: absolute;
    float: right;   
    border: 1px solid;  
}

ul
{
    list-style: none;
    padding: 0rem;
}

li
{
    display: inline-block;
    clear: both;

}

h1
{
   position: relative;  
}
main
{ overflow:auto;
    margin-left: 10%;
    margin-right: 10%;
 }

section
 {
     width: 75%;
     float: left;
     padding-right: 3rem
 }


div
    {
        width: 50%;
        float: left;
        padding-left: 1rem;
        padding-right:1rem;

    }



aside
    {
        padding-left: 3rem;
        width: 25%;
        float: left;

    }

footer
    {
        margin-top: 3rem;
        border-top: 1px;
    }
