*,
*::before, *::after,
*:before, *:after,
{
    box-sizing: border-box;
}

body, h1, h2, h3, nav ul, nav li, img {
    margin: 0;
    padding: 0;
}

body {
    background-color: beige;
}

header {

    background-color:black}

h1 {
    display: block;
    font-size: 4rem;
    font-family: 'Encode Sans Condensed', sans-serif;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    color: azure
  }

.subtitulo {
    display: block;
    font-size: 2rem;
    margin-top: 0rem;
    font-family: 'Encode Sans Condensed', sans-serif;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    color: azure
  }

.iconoMenu
{
    font-size: 2rem;
    text-align: right;
    margin-right: 1rem;
    color: azure
 }

 nav.menu-desk {
    display: block;
    background-color: brown;
    color: bisque;
    position: absolute;
    right: 0;
    top: 1.2rem;
  }

  nav.menu-desk ul {
    display: flex;
}

 .menuPrincipal { 
     background-color: black; 
    padding: 1rem;
   
 }

 nav ul {
    list-style: none;

  }



  nav a {
    font-family: 'Encode Sans Condensed', sans-serif;
    color: azure;
    text-decoration: none;
    margin-right: 2rem;
    display: inline-block;
   vertical-align: 3px;
    }


 h2 {
    display: block;
    font-size: 2rem;
    font-family: 'Encode Sans Condensed', sans-serif;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
    color: maroon
  }

  img {
    width: 100% ;
    margin-top: 1rem;   
    } 

.cabeceraDatos {text-align: center;
    margin-left: auto;
    margin-right: auto;
 }

.lista1Datos{ 

    list-style-type: none;
    background-color: aliceblue;
    border: 1px solid;
    padding: 1rem;
    padding-left: 1rem;
}

.field_name
{
    font-weight: bold;
}

section {
       }

h3
{ 
    font-family: 'Encode Sans Condensed', sans-serif;
    color: maroon;   
}

.main_wrapper
{
width: 95%;
margin-left: auto;
margin-right: auto;
}

aside
{ 
background-color: firebrick

}

h2.aside {
    color: bisque
 }
  
.listaAside
{ 
    color: bisque
}

footer
{ color:azure;
    background-color:black;
}

.cfoot
{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    
}



/* { }

enlace para meter las dos tipos de letras:
<link href="https://fonts.googleapis.com/css?family=Encode+Sans+Condensed|Roboto" rel="stylesheet"> 

y forma de colocarlas en CSS:
font-family: 'Roboto', sans-serif;
font-family: 'Encode Sans Condensed', sans-serif;


PARA LA HAMBURGUESA

enlace en head:

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css">
    <link rel="stylesheet" type="text/css" media="screen" 

forma de llamarlo desde CSS: 
<a href="#bottom-menu">
<i class="fas fa-bars"></i></a>

*/

/*  {}

Mediaquery O: Mobile

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
header{
    width: 50%;
    float: left;
    background-color: maroon;
    color: bisque
} 

header h1{
    text-align: center;
    margin: 0rem;
    line-height: 4rem;
}

nav {
    text-decoration: none;
    color: inherit;
    
}
nav{
    border: 1px solid silver;
    width: 50%;
    float: left;
} 

nav ul{
    list-style: none;
    Border : 1px solid silver;
    width: 40%;
    margin: 0%;
    padding: 0%;
    
}
nav li{
    display: block;
    float: left;
    width: 18%;
}  

nav a {
    color: inherit;
    background-color: bisque;
    text-decoration: none;
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-align: center;
    padding-left: 2rem;
    padding-right: 2rem;
    border: solid silver 1px;
    border-radius: 5%;
    display: inline-block;
}
section{
    margin-top: 2rem
}
*/ 
